@font-face {
  font-family: "Press-Start-2P";
  src: url("/font/PressStart2p-Regular.ttf");
}

* {
  font-family: "Press-Start-2P";
  margin: 0;
  padding: 0;
}

#my-canvas {
  position: relative;
  font-family: "Press-Start-2P";
  border: 1px solid black;
  margin: 15px;
  background-image: url(../img/inicio.png);
}

button {
    position: absolute;
    top: 45%;
    left: 37%;
    transform: translate(-50%, -50%);
    border: 1px solid #FFFC00;
    padding: 20px;
    background-color: #FFFC00;
    color: black;
    font-size: 15px;
    border-radius: 50px;
  }

  button:hover{
    cursor: pointer;
    background-color: #A80F00;
    color: white;
  }
