
@font-face {
    font-family: "Press Start 2P";
    src: url("./font/PressStart2p-Regular.ttf");
  }

*{
    margin: 0;
    padding: 0;
}

#my-canvas {
    border: 1px solid black;
    margin: 15px;
}